<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="admin/usermanagement/layout">
<head>
<meta charset="utf-8">
</meta>
<meta name="description" content="">
</meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
</meta>
<title>Groups</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-md-12 title-panel">
			<h3>Groups</h3>
		</div>
		<div class="col-md-12 content-panel">
			<div class="content-table">
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th>Distinguished Name</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="group : ${groups}">
							<td th:text="${group.dn}" />
							<td th:text="${group.cn}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>