<!DOCTYPE html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>User Registration</title>
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<style type="text/css">
body {
	font-weight: 200;
	background-color: #6789A9 !important;
}
</style>

</head>

<body>
	<h2><span th:text="${applicationName}">  </span></h2>
	<h3>Set Password and Complete User Registration</h3>

	<p>
		Dear <span th:text="${firstName}"> </span> <span th:text="${lastName}"> </span>,
		<br />
		A user account is created for you in <span th:text="${applicationName}"> Application </span>. Please click on the link below to set your password and access the application.
		<br/>
		<span th:text="${registrationLink}"></span>
	</p>

	<p>
		Regards, <br /> <span th:text="${applicationOwner}"> </span> Team.
	</p>

</body>
</html>