<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="apps/layout">
<head>
<meta charset="utf-8">
</meta>
<meta name="description" content="">
</meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
</meta>
<title>App</title>
</head>
<body>
	<div th:fragment="footer">
		<footer class="footer mt-4 bg-dark">
			<div class="text-center">
				<p class="white mb-0 ">
					© <span
						th:text="${@environment.getProperty('application.copyrightYear')}">Year</span>.
					<span th:text="${@environment.getProperty('application.owner')}"></span>
					<a class="white " th:href="@{/releasenotes}" target="_blank">---
						Release Notes ---</a>
				</p>
			</div>
		</footer>
	</div>
</body>
</html>