<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="dynamo-audit/layout">
<head>
<meta charset="utf-8">

<meta name="description" content="">

<meta name="viewport" content="width=device-width,initial-scale=1">

<title>List-Audit</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="mt-8">
				<div class="box-s borrad">
					<div class="container-fluid">
						<div class="row headtb mt-2 borrad-top">
							<div class="col-md-6 col-sm-6 col-4 p-0">
								<h6 class="tbhead bold text-md-left">Audit Log</h6>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 search pt-1 pb-1">
							<div class="form formbg">
								<form id="myform" class="pl-3 text-container"
									th:action="@{/audit/orgLogs}">
									<div class=" row col-md-12">
										<div class=" row more-text2 col-md-4 mt-1">
											<div class="row">
												<div class="form-group m-0 col-4  text-right p-0 pr-3">
													<label for="auditEvent" class="control-label">Audit
														Event</label>
												</div>
												<div class="form-group m-0 col-8  p-0 pr-3">
													<input id="auditEvent" name="auditEvent"
														th:value="${#httpServletRequest.getParameter('auditEvent')}"
														type="text" class="form-control notsplcha"
														autofocus="autofocus" />
												</div>
											</div>
										</div>
										<div class="row more-text2 col-md-4 mt-1">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="auditUserEmail" class="control-label">User</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">
													<input id=auditUserEmail name="auditUserEmail"
														th:value="${#httpServletRequest.getParameter('auditUserEmail')}"
														type="text" class="form-control " autofocus="autofocus" />
												</div>
											</div>
										</div>

										<div class="row more-text2 col-md-4 mt-1">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="auditItemId" class="control-label">Item
														ID</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">
													<input id="auditItemId" name="auditItemId"
														th:value="${#httpServletRequest.getParameter('auditItemId')}"
														type="text" class="form-control" autofocus="autofocus" />
												</div>
											</div>
										</div>
										<div class="row more-text2 col-md-4 mt-2">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="auditDateFrom" class="control-label">Start
														Date</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">
													<input id="auditDateFrom" name="auditDateFrom"
														th:value="${#httpServletRequest.getParameter('auditDateFrom')}"
														type="text" class="datepicker form-control"
														placeholder="dd-mm-yyyy" />
													<!-- <i
														class="far fa-calendar-alt facal"></i> -->
												</div>
											</div>
										</div>
										<div class="row more-text2 col-md-4 mt-2">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="auditDateTo" class="control-label">End
														Date</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">

													<input id="auditDateTo" name="auditDateTo"
														th:value="${#httpServletRequest.getParameter('auditDateFrom')}"
														type="text" class="datepicker form-control"
														placeholder="dd-mm-yyyy" />
													<!-- <i class="far fa-calendar-alt facal"></i> -->
												</div>
											</div>
										</div>

										<div class="row more-text2 col-md-4 mt-2">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="auditUserEmail" class="control-label">Item
														Type</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">
													<input id=auditItemType name="auditItemType"
														th:value="${#httpServletRequest.getParameter('auditItemType')}"
														type="text" class="form-control" autofocus="autofocus" />
												</div>
											</div>
										</div>

										<div class="row more-text2 col-md-4 mt-2">
											<div class="row">
												<div class="form-group m-0 col-4 text-right p-0 pr-3">
													<label for="ipaddress" class="control-label">IP
														Address</label>
												</div>
												<div class="form-group m-0 col-8 p-0 pr-3">
													<input id="ipaddress" name="ipaddress"
														th:value="${#httpServletRequest.getParameter('ipaddress')}"
														type="text" class="form-control" autofocus="autofocus" />
												</div>
											</div>
										</div>
										<div class="more-text2 col-md-6 mt-1">
											<div class="row ml-md-0 ml-sm-2 text-sm-center ml-sm-19">
												<div class=" form-group m-0 col-12 mt-1  p-0">
													<button type="submit"
														class="btn btn-outline-success btn-pm mr-sm-3 mr-3 float-left">
														<i class="fa fa-search d-none d-sm-none d-md-inline-block"
															aria-hidden="true"></i> Search
													</button>
													<button type="button"
														class="btn reset btn-outline-info btn-pm mr-sm-3 mr-3 float-left">
														<i
															class="fas fa-minus-circle d-none d-sm-none d-md-inline-block"></i>
														Clear
													</button>

												</div>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>

					<div class="tb">
						<table class="table vertical-table">
							<thead>
								<tr>
									<th style="width: 5% !important;"><a
										class="sorted sortable black" sd:pagination-sort="id"> No</a></th>

									<th style="width: 15% !important;"><a
										class="sorted sortable black" sd:pagination-sort="auditEvent">
											Audit Event</a></th>

									<th style="width: 15% !important;"><a
										class="sorted sortable black" sd:pagination-sort="auditDate">
											Audit Date</a></th>

									<th style="width: 7% !important;"><a
										class="sorted sortable black" sd:pagination-sort="auditItemId">Item
											ID</a></th>

									<th style="width: 15% !important;"><a
										class="sorted sortable black"
										sd:pagination-sort="auditItemType">Item Type</a></th>

									<th style="width: 10% !important;"><a
										class="sorted sortable black"
										sd:pagination-sort="auditUserEmail">User</a></th>

									<th style="width: 10% !important;"><a
										class="sorted sortable black" sd:pagination-sort="ipAddress">IP
											Address</a></th>

									<th style="width: 10% !important;"><a
										class="sorted sortable black" sd:pagination-sort="protocol">Browser</a></th>



								</tr>
							</thead>
							<tbody>
								<tr th:each="logs : ${pagedItems}">
									<td data-label="No" th:text="${logs.id}" />
									<td data-label="Audit Event"><a
										th:href="@{'/audit/logs?id=' + ${logs.id}}"
										th:text="${logs.auditEvent}"></a></td>
									<!-- <td th:text="${#dates.format(logs.auditDate,'dd-MM-yyyy') }" /> -->
									<!-- <td th:text="${#temporals.format(logs.auditDate, 'dd-MM-yyyy HH:mm')}"/> -->
									<!-- <td th:text="${#dates.format(logs.auditDate, 'dd-MM-yyyy HH:mm')}"/> -->
									<!--  <td th:text="${#temporals.format(logs.auditDate, locale)}"/>  -->

									<td data-label="Audit Date" th:text="${logs.auditDateString}" />

									<td data-label="Item ID" th:text="${logs.auditItemId} ?: 'N/A'" />
									<td data-label="Item Type" th:text="${logs.auditItemType}" />
									<td data-label="User" th:text="${logs.auditUserEmail}" />
									<td data-label="IP Address" th:text="${logs.ipAddress}" />
									<td data-label="Browser" th:text="${logs.protocol}" />

								</tr>

							</tbody>

						</table>


					</div>

				</div>
			</div>
		</div>

		<div class="pagination1 mb-md-5 ">
			<div class="text-center ">
				<div sd:pagination-summary="">info</div>

				<ul class="pagination" sd:pagination="full">
					<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
					<li class="disabled"><a href="#" aria-label="Previous"><span
							aria-hidden="true">&laquo;</span></a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</div>
	</div>


</body>
</html>