<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="dynamo-audit/layout">
<head>
<meta charset="utf-8">
</meta>
<meta name="description" content="">
</meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
</meta>
<title>Audit</title>
</head>
<body>
	<div th:fragment="main-nav">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top  bg-dark">
			<a class="dynamo-logo" th:href="@{/dashboard}"><img
				th:src="@{/images/app-logo-white.svg}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li th:class="${activeNav == 'audit'}? 'nav-item active' :''"><a
						class="nav-link" th:href="@{/audit/logs}"><i
							class="far fa-list-alt" aria-hidden="true"></i>Audit<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item dropdown hidenav brl bg-dark"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown01"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="fa fa-th  pt-1" aria-hidden="true"></i>Other Apps</a>
						<div class="dropdown-menu dropdown-menu-right drop-app">
							<!-- <div class="app-cont p-0">
								<a class="dropdown-item in-block"
									th:href="@{/admin/appManagement/apps}" href="#"> <img
									th:src="@{/images/apps-Icon.svg}">
									<div class="app-title">Apps</div>
								</a>
							</div> -->
							<div class="app-cont p-0">
								<a th:href="@{/organization/users}" href="#">
									<img th:src="@{/images/organisation-Icon.svg}">
									<div class="app-title">Organization</div>
								</a>
							</div>
							<div class="app-cont p-0">
								<a class="dropdown-item in-block"
									th:href="@{/audit/logs}" href="#">
									<img th:src="@{/images/audit-Icon.svg}">
									<div class="app-title">Audit</div>
								</a>
							</div>
							<!-- <div class="app-cont p-0">
								<a class="dropdown-item in-block"
									th:href="@{/admin/configManagement/listConfigs}" href="#"><img
									th:src="@{/images/config-Icon.svg}">
									<div class="app-title">Config</div> </a>
							</div> -->



							<!-- 	<div class="more-app col-12 m-auto">
							<a href="#" target="_blank" class="btn btn-info btn-sm">Explore
								Appstore</a>
						</div> -->
						</div></li>

					<li class="nav-item hidenav pl-6"><img class="logout"
						th:src="@{/images/user-icon.svg}"><a class="nav-link padall"
						th:text="${session.currentUser.fullName}" href="#"></a></li>
					<li class="nav-item hidenav pb-2"><a class="nav-link "
						th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>

				</ul>

				<ul class="nav navbar-nav navbar2 flex-row ml-auto hidedesk">
					<li class="nav-item dropdown"><a class="nav-links " href="#"
						id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><i class="fa fa-th fa-2x pt-1"
							aria-hidden="true"></i></a>
						<div class="dropdown-menu dropdown-menu-right drop-app box-s">

							<!-- <div class="app-cont">
								<a th:href="@{/admin/appManagement/apps}"><img
									th:src="@{/images/apps-Icon.svg}">
									<div class="app-title">Apps</div> </a>
							</div> -->
							<div class="app-cont">
								<a th:href="@{/organization/users}" href="#">

									<img th:src="@{/images/organisation-Icon.svg}">
									<div class="app-title">Organization</div>
								</a>
							</div>
							<div class="app-cont">
								<a th:href="@{/audit/logs}"> <img
									th:src="@{/images/audit-Icon.svg}">
									<div class="app-title">Audit</div>
								</a>
							</div>
						<!-- 	<div class="app-cont">
								<a th:href="@{/admin/configManagement/listConfigs}"><img
									th:src="@{/images/config-Icon.svg}">
									<div class="app-title">Config</div> </a>
							</div> -->



							<!-- <div class="more-app">
							<a href="#" target="_blank" class="btn btn-info btn-sm">Explore
								Appstore</a>
						</div> -->
						</div></li>
					<li class="nav-item dropdown"><a class="nav-links " href="#"
						id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><img class="logout"
							th:src="@{/images/user-icon.svg}"></a>
						<form class="dropdown-menu dropdown-menu-right box-s"
							aria-labelledby="dropdown01">
							<a th:text="${session.currentUser.fullName}"
								class="dropdown-item bb" href="#"></a> <a class="dropdown-item"
								th:href="@{/logout}">Logout</a>
						</form></li>
				</ul>

			</div>
		</nav>
	</div>
</body>
</html>