<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="dynamo-audit/layout">
<head>
<meta charset="utf-8">
</meta>
<meta name="description" content="">
</meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
</meta>
<title>Dynamo-audit</title>
</head>
<body>
	<div th:fragment="common-scripts">
		<script src="../../static/scripts/jquery.min.js"
			th:src="@{/scripts/jquery.min.js}"></script>
		<script src="../../static/scripts/bootstrap.min.js"
			th:src="@{/scripts/bootstrap.min.js}"></script>
		<script src="../../static/scripts/jquery-ui.min.js"
			th:src="@{/scripts/jquery-ui.min.js}"></script>
		<script src="../../static/scripts/datepicker.js"
			th:src="@{/scripts/datepicker.js}"></script>
		<script src="../../static/scripts/notsplcha.js"
			th:src="@{/scripts/notsplcha.js}"></script>
		<script src="../../static/scripts/moresearchfield.js"
			th:src="@{/scripts/moresearchfield.js}"></script>
		<script src="../../static/scripts/cleartextfield.js"
			th:src="@{/scripts/cleartextfield.js}"></script>

	</div>
</body>
</html>