<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="dynamo-organization/usermanagement/header :: header"></th:block>
</head>

<body>


	<div th:replace="dynamo-organization/usermanagement/navigation :: navigation"></div>

	<div layout:fragment="content"></div>

	<div th:replace="dynamo-organization/usermanagement/footer :: footer"></div>

	<div th:replace="dynamo-organization/usermanagement/scripts :: common-scripts"></div>




</body>

</html>