<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="dynamo-organization/usermanagement/layout">

<body>
	<div th:fragment="common-scripts">
		
	<script src="../../static/scripts/jquery.min.js"
		th:src="@{/scripts/jquery.min.js}"></script>
	<script src="../../static/scripts/bootstrap.min.js"
		th:src="@{/scripts/bootstrap.min.js}"></script>
	<script src="../../static/scripts/notsplcha.js"
		th:src="@{/scripts/notsplcha.js}"></script>
	<script src="../../static/scripts/moresearchfield.js"
		th:src="@{/scripts/moresearchfield.js}"></script>
	<script src="../../static/scripts/multiselect.js"
		th:src="@{/scripts/multiselect.js}"></script>
	<script src="../../static/scripts/cleartextfield.js"
		th:src="@{/scripts/cleartextfield.js}"></script>
	</div>

</body>
</html>