<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="config/layout">
<head>
<meta charset="utf-8">
</meta>
<meta name="description" content="">
</meta>
<meta name="viewport" content="width=device-width,initial-scale=1">
</meta>
<title>Config</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid mt-8">
			<div class="mt-8">

				<div class="box-s borrad">
					<div class="container-fluid">
						<div class="row headtb mt-2 borrad-top">
							<div class="col-md-6 col-sm-6 col-4 p-0">
								<h6 class="tbhead bold text-md-left">Config</h6>
							</div>
						</div>
					</div>



					<div class="tb">
						<table class="table vertical-table">
							<thead>
								<tr>
									<th style="width: 5% !important;"><a
										class="sorted sortable black" sd:pagination-sort="id"> No</a></th>

									<th style="width: 15% !important;"><a
										class="sorted sortable black" sd:pagination-sort="application">
											Application</a></th>

									<th style="width: 10% !important;"><a
										class="sorted sortable black" sd:pagination-sort="profile">
											Profile</a></th>

									<th style="width: 5% !important;"><a
										class="sorted sortable black" sd:pagination-sort="label">Label</a></th>

									<th style="width: 20% !important;"><a
										class="sorted sortable black" sd:pagination-sort="key">Key</a></th>

									<th style="width: 10% !important;"><a
										class="sorted sortable black" sd:pagination-sort="value">Value</a></th>

									<th style="width: 10% !important;">Action</th>



								</tr>
							</thead>
							<tbody>
								<tr th:each="conf : ${pagedConfigs}">
									<td data-label="No" th:text="${conf.id}" />
									<td data-label="Application" th:text="${conf.application}" />
									<td data-label="Profile" th:text="${conf.profile}" />
									<td data-label="Label" th:text="${conf.label}" />
									<td data-label="Key" th:text="${conf.key}" />
									<td data-label="Value" th:text="${conf.value}" />
									<td data-label="Action">
										<div class="navbar navbar-nav1 dropdown">
											<button class="btn1 btn-secondary " type="button"
												data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												<i class="fa fa-chevron-down fasize"></i>
											</button>
											<div class="dropdown-menu  dropdown-menu1 dd-act box-s"
												aria-labelledby="dropdownMenuButton ">
												<a class="dropdown-item di-p bb"
													th:href="@{'/admin/configManagement/viewConfig?id=' + ${conf.id}}">View</a>

												<a class="dropdown-item di-p bb"
													th:href="@{'/admin/configManagement/editConfig?id=' + ${conf.id}}">Edit</a>


											</div>
										</div>
									</td>
								</tr>

							</tbody>

						</table>


					</div>

				</div>
			</div>
			<div class="pagination1 mb-md-5 ">
				<div class="text-center ">
					<div sd:pagination-summary="">info</div>

					<ul class="pagination" sd:pagination="full">
						<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
						<li class="disabled"><a href="#" aria-label="Previous"><span
								aria-hidden="true">&laquo;</span></a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>