<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="description" content="">

<meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon"  href="../../static/images/favicon.png" 
   th:href="@{/images/favicon.png}" />

<title>Forgot Password</title>

<link rel="stylesheet" href="../static/css/dynamo-style.css"
	th:href="@{css/dynamo-style.css}">
</head>
<body>
	<div class="container ">
		<div class="row mt-8">
			<div class="col-md-5 m-auto">
				<div class="card">
					<div class="card-block text-center p-0">
						<img th:src="@{/images/app-logo-black.svg}" alt="">
					</div>
					<div class="card-block text-center mb-1">
						<div class="border-b">
							<span th:text="${@environment.getProperty('dynamo.applicationName')}">App
								Name</span>
						</div>
					</div>
					
					<div class="card-block">

						<div class="row">
							<form th:object="${forgotPassword}"
								th:action="@{/forgotPassword}" method="post"
								class="col-10 m-auto">

								<div th:if="${#fields.hasErrors()}"
									class="has-error alert alert-dismissible alert-danger">
									<ul>
										<li th:each="e : ${#fields.detailedErrors()}"
											th:class="${e.global}? globalerr : fielderr"><span
											th:text="${e.message}">The error message</span></li>
									</ul>
								</div>

								<div class="form-group">
									<label for="l-user">Email*</label><input type="text"
										th:field="*{email}" autofocus="autofocus" name="email"
										class="form-control" placeholder="Email" />
								</div>
								
								<div class="card-block text-center">
									<div class="form-control border-0">
										<button class="btn btn-outline-success px-3 py-1"><i
											class="fas fa-minus-circle d-none d-sm-none d-md-inline-block"></i>Reset</button>
									</div>
								</div>
								
								<div class="form-group"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer mt-4">
			<div>
				<p class="mb-0">
					© <span
						th:text="${@environment.getProperty('dynamo.applicationCopyrightYear')}">Year</span>.
					<span th:text="${@environment.getProperty('dynamo.applicationOwner')}"></span>
					
				</p>
			</div>
		</footer>

</body>
</html>